.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(10, 25, 47, .8);
    z-index: 2;
    height: var(--nav-height);
}

.navbar .logo:hover {
    filter: brightness(1.4);
}

.navbar span {
    color: var(--text-green);
    margin-right: 5px;
}

.navbar a {
    color: var(--text-titles);
    transition: all .3s ease;
}

.navbar a:hover {
    cursor: pointer;
    color: var(--text-green);
    filter: brightness(1.2);
}

.navbar a.resume:hover {
    filter: brightness(1.2);
}

.navbar a.resume {
    color: var(--text-green);
    border: 1px solid var(--text-green);
    border-radius: 3px;
    padding: 10px;
}

.navbar-nav {
    display: flex;
    font-family: Consolas,monaco,monospace; 
}

.navbar-nav li {
    margin-left: 2rem;
}